#logo{
    height: 60px;
    width : 60px;
}

header{
    background-image: url(../images/Main_banner.jpg);
    filter: brightness(90%);
    background-position-y:65%;
}

#navigate > a{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    color: white;
    margin-left: 50px;
}

#me_account{
    margin-top: -40px;
    margin-right: 50px;
    float: right;
    background-image: url(../images/Main_banner.jpg);
    
}

#navigate{
    position: absolute;
    margin-left: 300px;
    top: 20px;
    right: 300px;
    width: 75%;
}
    
#longrec{
    height:100vh;
    width: 300px;
    background-color:#AEB1B0;
    text-align:center;
}

#longrec > h4 > a{
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: larger;
    width: 300px;
    height: 30px;
}

#use_acc{
    width: 20px;
    margin-right: 10px;
  
}

hr#hori_line{
    width: 94%;
    border: 10px solid black;
    border-radius: 2px;
    border-top: 10px;

}

#topic{
    text-size-adjust: medium;
    text-decoration: none;
    text-align: left;
    margin-left: 28%;
    margin-top: -50%;
}

#thinrec{
    border-left-width: 200px;
    height: 80px;
    width: 1125px;
    background-color: rgb(41, 136, 195);

    margin-left: 23%;
    margin-top: 4%;
    border-radius: 5px;
}
#thinrec > div > h3{
    margin-left: 50px;
    margin-top: 30px;
}

#thinrec > div > #request{
    height: 30px;
    margin-left: 980px;
    
    background-color: #AEB1B0;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.3s;
}

#thinrec > div > #request:hover{
    background-color:royalblue;
    color: white;
}

/* ============================to get the season form========================= */
/* Define styles for the popup form and overlay */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(19, 19, 19, 0.7);
    z-index: 1;
  }
  
  /*close button*/
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 33px;
    background-color: #cacfe7;
    border-radius: 0.5rem;
    outline: none;
    border: #dddddd;
    font-family: cursive;
  }
  
  .popup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
    width: 35rem;
    border-radius: 0.8rem;
  }

  
  /* Style for the form fields */
  .form-field {
    margin: 10px 0;
  }
  
  /* Style for the submit button */
  .submit-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: .3s;
    border-radius: .7rem;
    outline: none;
    border: none;
  }
  
  .submit-button:hover {
    background: rgb(34, 67, 255);
    box-shadow: 2px 6px 8px 2px rgba(160, 120, 252, 0.344);
  }
  
  input:focus {
    border: 1px solid rgb(192, 192, 192);
  }
  
  h2 {
    color: #007BFF;
  }
  
  /* Additional CSS for form elements */
  input[type="text"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    font-weight: bold;
  }



.card{
    background-color: #AEB1B0;
    width: 1125px;
    height: 400px;
    margin-left: 23%;
    margin-top: 2%;
    border-style: solid;
    border-radius: 8px;   
}

.card > h1{
    margin-left: 20px;
}

.card > h2{
    width: 30%;
    margin-left: 935px;
    margin-top: -55px;
}

#valid_till{
    margin-top: 80px;
    width: 25%;
    margin-left: 70%;
}

#season_no{
    margin-top: 40px;
}

#thinrec_ash{
    border-left-width: 200px;
    height: 80px;
    width: 1125px;
    background-color:#AEB1B0;
    margin-left: 23%;
    margin-top: 2%;
    text-align: center;
    border-radius: 12px;
}

#big_button{
    height: 80px;
    width:1125px;
    background-color: #AEB1B0;
    text-align: center;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.5s;
}

#big_button:hover{
   background-color: royalblue;
   color: white;
}