* {
    margin: 0;
    padding: 0;
    font-family: 'Francois One', sans-serif;
    font-family: 'Poppins', sans-serif;
    ;
}

.section1 {
    height: 100vh;
    width: 100%;
    background-image: url(/images/Main_banner.jpg);
    background-size: cover;
    background-position: center;
}


.Head {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 4%;
    padding-right: 4%;
}

.Logo {
    color: rgba(62, 147, 195, 1);
    font-size: 35px;
    font-family: sans-serif;


}

.SEATS {
    color: white;
    font-family: 'Francois One', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.Head ul li {
    list-style-type: none;
    display: inline-block;
    padding: 20px;
}



.Head ul li a {
    color: rgb(252, 252, 252);
    text-decoration: none;
    font-weight: bold;

}

.ul li a {
    font-size: 40px;
}




ul li a:hover {
    border-bottom: 3px solid white;
    transition: .3s
}

.Btn {
    border: none;
    background-color: rgba(62, 147, 195, 1);
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    transition: .4s;

}

button:hover {
    cursor: pointer;
}

.input {
    margin: 2.9rem 16.7rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 49.1rem;
    height: 100%;
    position: relative;
    flex-shrink: 0;
}

.auto-group-lfvt-Wgy {
    height: 100%;
    position: relative;
    flex-shrink: 0;
}





.Seat_book {
    width: 250px;
    height: 50px;
    background-color: transparent;
    border-radius: 30px;
    border-color: aliceblue;
    margin-top: 30px;
    cursor: pointer;
    color: white;
    font-size: 25px;
    transition: .3s ease;

}

.Seat_book:hover {
    background-color: rgba(62, 147, 195, 1);
    border-color: rgba(62, 147, 195, 1);
}

.section1 .auto-group-pry7-xV7 {
    display: flex;
    justify-content: space-between;
    margin: 2rem 9.6rem 0rem 2.1rem;

    /*align-items: flex-start;*/
}

.section1 .auto-group-pry7-xV7 .group-5-gR7 {
    display: flex;
    flex-direction: column;
}

.section1 .auto-group-pry7-xV7 .group-5-gR7 .embark-on-your-journey-with-us-securely-book-your-next-travel-adventure-p1X {
    margin-bottom: 0.7rem;
    max-width: 40.4rem;
    font-size: 35px;
    font-weight: 300;
    line-height: 1.42;
    color: #ffffff;
    font-family: Francois One, 'Source Sans Pro';
    flex-shrink: 0;
    margin-top: 40px;
}

.section1 .auto-group-pry7-xV7 .group-5-gR7 .embark-on-your-journey-with-us-securely-book-your-next-travel-adventure-p1X .embark-on-your-journey-with-us-securely-book-your-next-travel-adventure-p1X-sub-0 {}

.section1 .auto-group-pry7-xV7 .group-5-gR7 .embark-on-your-journey-with-us-securely-book-your-next-travel-adventure-p1X .embark-on-your-journey-with-us-securely-book-your-next-travel-adventure-p1X-sub-1 {
    font-size: 2.8rem;
    font-weight: 350;
    line-height: 1.42;
    color: #3e93c2;
    font-family: Francois One, 'Source Sans Pro';
}

.section1 .auto-group-pry7-xV7 .group-5-gR7 .embark-on-your-journey-with-us-securely-book-your-next-travel-adventure-p1X .embark-on-your-journey-with-us-securely-book-your-next-travel-adventure-p1X-sub-2 {}

.section1 .auto-group-pry7-xV7 .group-5-gR7 .effortless-booking-for-seamless-travel-experiences-b4D {
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 1.42;
    color: #ffffff;
    font-family: Francois One, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.reg-box {
    margin-top: 6.5rem;
    width: 27.1rem;
    height: 20.8rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 12%) -19px 19rem 20rem 20px;
    background-color: rgb(217 217 217 / 13%);
    border-radius: 3.2rem;
}

.reg {
    text-align: center;
    padding-top: 12px;
    height: 3.8rem;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.42;
    color: rgba(62, 147, 194, 0.8100000024);
    font-family: Francois One, 'Source Sans Pro';
}

form {
    width: 92%;
    margin-left: 20px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 18px;
}

form input {
    width: 92%;
    color: #fff;
    padding: 12px 10px;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.158);
    border-radius: 20px;
    outline: none;
    background: rgba(217, 217, 217, 0.252);
    margin-bottom: 10px;
}

::-webkit-input-placeholder {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.42;
    font-family: Francois One, 'Source Sans Pro';
    white-space: nowrap;
    color: #fff;


}

.reg-button {

    width: 50%;
    border: none;
    background: rgba(62, 147, 194, 0.7200000286);
    border-radius: 4rem;
    outline: none;
    height: 3.5rem;
    font-size: 1.4rem;
    line-height: 1.42;
    color: #ffffff;
    font-family: Francois One, 'Source Sans Pro';
    white-space: nowrap;
    cursor: pointer;
    transition: .3s;
}

.reg-button:hover {
    background: rgba(62, 147, 194, 0.8500000286);
    box-shadow: 2px 6px 8px 2px rgba(255, 255, 255, 0.344);
}

input:focus {
    border: 1px solid rgb(192, 192, 192);
}

.cc {
    display: flex;
    justify-content: center;
}

.back-log {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    line-height: 1.42;
    color: #ffffff;
    align-items: baseline;
}

.login-ancer {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.42;
    color: #3e93c2;
    margin-left: 5px;
}

.cc1 {
    display: inline flex;
}

.lable2 {
    margin-bottom: 8px;
    margin-left: 6px;
    margin-right: 50px;
    color: #ffffff;
}

.lable1 {
    margin-bottom: 8px;
    margin-left: 6px;
    color: #ffffff;
}